@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #333;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #eee;
    color: #111;
  }
}